[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
black = "*"
django-braces = "*"
django-embed-video = "*"
pymemcache = "*"
django-debug-toolbar = "*"
redis = "*"
django-redisboard = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.12"
